html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
  background: none;
}


input[id=start] {
  color: green;
  font-family: 'Montserrat', sans-serif;
  background-color:white; 
  border-radius: 15px;
  border:none;
  opacity:0.95;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

input[id=stop] {
  color: red;
  font-family: 'Montserrat', sans-serif;
  background-color:white; 
  border-radius: 15px;
  border:none;
  opacity:0.95;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

input[id=reset] {
  color: gray;
  font-family: 'Montserrat', sans-serif;
  background-color:white; 
  border-radius: 15px;
  border:none;
  opacity:0.95;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

/*#searchButton {
  position: fixed;
  right: 10px;
  bottom: 25px;
  background-color:rgba(255,255,255,1);
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  border-radius: 15px;
  opacity:0.9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }

#searchBox {
  position: fixed;
  right: 70px;
  bottom: 20px;
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  opacity:0.9;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }

#filter {
  position: fixed;
  left: 20px;
  bottom: 50px;
  background-color:rgba(255,255,255,1);
  width:auto;
  height:auto;
  opacity:0.9;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }
*/

#title {
  position: fixed;
  left: 50px;
  top: 20px;
  background-color:white;
  color:black;
  font-size: 36;
  font-family: 'Montserrat', sans-serif;
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  border-radius: 15px;
  opacity: 0.9;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }
#form {
  position: fixed;
  left: 5px;
  bottom: 1px;
/*  background-color:white;
*/  font-size: 36;
  font-family: 'Montserrat', sans-serif;
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  border-radius: 15px;
  opacity:0.95;
  }
#textbox {
  position: fixed;
  left: 5px;
  bottom: 70px;
  background-color:white;
  color:black;
  font-size: 12;
  font-family: 'Montserrat', sans-serif;
  width:auto;
  height:auto;
/*  z-index: 1000;*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  opacity:0.95;
  }

#dialog {
  position: fixed;
  left: 50px;
  bottom: 100px;
  /*background-color:rgba(255,255,255,1);*/
  font-size: 18;
  font-family: 'Montserrat', sans-serif;
  width:auto;
  height:auto;
  z-index: 1000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:0;
  padding-bottom: 5px;
  border-radius: 15px;
  }

#layer_selector {
  position: absolute;
  border:none;
  top: 20px;
  right: 20px;
  padding: 0;
/*  border-radius: 15px;*/
  background-color: white;
  opacity: 0.95;
  color: pink;
  border-radius: 15px;
}

#layer_selector ul {
  padding: 0; margin: 0;
  list-style-type: none;
/*  border-radius: 15px;
*/}

#layer_selector li {
  /*border-bottom: 1px solid #999;*/
  padding: 15px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #444;
  cursor: auto;
  border:none;
/*  border-radius: 15px;
*/}

#layer_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
  border-radius: 15px;
  border:none;
}

#layer_selector li.selected {
  background-color: #EEE;
/*  border-radius: 15px;
*/}

#text2 {
  color:red;

}